
<nav>
  <div>
    <%= link_to "Recipe App", root_path, id: "recipe-app" %>
    </button>
    <div id="navbarSupportedContent">
      <% if user_signed_in? %>
      <ul id="menu-main">
        <li>
          <%= link_to "Recipes", recipes_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to "Inventories", inventories_path, class: "nav-link" %>
        </li>
        <li>
        <%= link_to "Food", foods_path, class: "nav-link" %>
        </li>
        <li>
          <%= link_to "Public Recipes", public_recipes_path, class: "nav-link" %>
        </li>
      </ul>
      <% end %>
      <ul id="signin-up-menu">
      <% if user_signed_in? %>
        <li>
          <%= button_to @current_user_name, destroy_user_session_path, method: :delete, class: "btn btn-warning mb-1" %>
        </li>
      <% end %>
    </ul>
    </div>
  </div>
</nav>